<?xml version="1.0" encoding="utf-8" ?>
<config>
  <apiEndpoint>http://serviciostrygnoss.gnoss.com/apiv3</apiEndpoint>
  <communityShortName>omdb-andrea-3</communityShortName>
  <developerEmail>juanvaler@gnoss.com</developerEmail>
  <ontologyName>schema</ontologyName>
  <consumer>
    <consumerKey>AM+FSiuY2Ej7Rg3zTbbUSIeu/28VAz2T</consumerKey>
    <consumerSecret>AM+FSiuY2Ejfg4sPyqqgRZlaGbZo/Ydf</consumerSecret>
  </consumer>
  <token>
    <tokenKey>v4VmTSuY2EgDAuBYU7aoR7yzMHgMw/Hb</tokenKey>
    <tokenSecret>v4VmTSuY2EhfymD/bAmgQKZWlcHkB8RD</tokenSecret>
  </token>
  <log>
    <logPath>C:\Cargas\Log</logPath>
    <logFileName>OMDB.log</logFileName>
    <logLevel>DEBUG</logLevel>
  </log>
</config>